<div class="footer">
    <div class="w">
        <div class="links">
                <a href="https://chenjiezi.github.io/" class="link" target="_blank" >博客</a> |
                <a href="https://github.com/chenjiezi" class="link" target="_blank" >Github</a> |
                <a href="https://www.zhihu.com/people/icare-34/activities" class="link" target="_blank" >知乎</a> |
                <a href="#" class="link" target="_blank" >公众号(未申请)</a>
        </div>
        <p class="copyright">
            Copyright  © 2018 <a href="https://github.com/chenjiezi" class="link" target="_blank" > @Chenjiezi</a> All right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>